* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VAR-COLORES */
:root {
    --main: rgb(255, 246, 228);
}

body {
    background-color: rgb(44, 44, 44);
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
}

h1 {
    color: var(--main);
    margin: 30px;
    font-size: 3rem;
}

main {
    line-height: 1.5;
    font-size: 1rem;
}

#contenido {
    color: var(--main);
    margin: 30px;
}

#contenido img {
    border-radius: 2rem;
    height: auto;
    margin-top: 50px;
    transition: transform 0.3s ease;
}

#contenido img:hover {
    transform: scale(1.1);
}

#signoSelect {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--main);
    color: #333;
    font-size: 16px;
    width: 150px;
}
